body {
  background-color: #b30086;
}

h1 {
  color: white;
}

.hello {
   text-decoration: underline;
 }

.blackwhite {
  background-color: black;
  color:white
}

.tictactoe {
  background-color: white;
}

.tictactoe .col-md-4 {
  border-color: black;
  border: 1;
  border-style: solid;
  border-width: thin;

}

.num {
  color: white;
  background-color: green;
}


.bye {
  font-weight: normal;
}

img {
  width: 200px;
  height:auto;
}
